@use '@angular/material' as mat;

.edu-institution-block {
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    display: grid;
}

.edu-institution-block.institution {
    grid-template-columns: auto auto;

    .years {
        text-align: right;
        font-size: 24px;
    }
}

.edu-institution-block.certificate {
    grid-template-columns: 20% 80%;

    div {
        margin: auto;
        
        h1 {
            font-size: 36px;
            line-height: 36px;
            font-weight: 600;
        }
    }
}

@mixin theme($theme) {
    $color: mat.get-theme-color($theme, accent, default);

    .edu-institution-block {
        border: 2px solid $color;
    }
}