<div class="edu-institution-block institution" *ngIf="institution">
    <div>
        <h1>{{ institution.institutionName }}</h1>
        <p>{{ institution.description }}</p>
    </div>
    <div class="years">
        <span>{{ institution.years.from }} - {{ institution.years.to }}</span>
    </div>
</div>

<div class="edu-institution-block certificate" *ngIf="cert">
    <a [href]="cert.link">
        <img draggable="false" [src]="'./assets/images/icons/certs/' + cert.iconPath" [alt]="cert.iconPath + ' icon'">
    </a>
    <div>
        <h1>{{ cert.title }}</h1>
    </div>
</div>