@use '@angular/material' as mat;

#menu-container {
    position: fixed;
    top: 2em;
    right: 2em;
    counter-reset: nav-btns;
    display: flex;
    flex-direction: row;

    a {
        margin: 1em;
        font-size: 18px;
        font-weight: 400;
        counter-increment: nav-btns;
        transition: linear 0.3s;
        text-decoration: none;
        cursor: pointer;

        ::before {
            content: counter(nav-btns) ". ";
            font-size: 20px;
            font-weight: 600;
        }
    }
}

#lang-switch {
    margin: auto;

    span {
        font-size: 16px;
        margin: 4px;
    }
}

:host ::ng-deep {
    mat-slide-toggle {
        /*.mdc-switch__track::before, .mdc-switch__track::after {
            background-color: red !important;
        }

        .mdc-switch__handle::after {
            background-color: green !important;
        }*/
    } 
}

@mixin theme($theme) {
    $underline-color: #ffffff34;
    $underline-hover-color: mat.get-theme-color($theme, primary, default);
    $text-color: mat.get-theme-color($theme, primary, default-contrast);

    #menu-container > a {
        color: $text-color;
        border-bottom: 2px solid $underline-color;

        :hover {
            border-bottom-color: $underline-hover-color;
        }

        ::before {
            color: $underline-color;
        }

        :hover::before {
            color: $underline-hover-color;
        }
    }
}